@font-face {
  font-family: "Futura bold";
  src: url(./futuraheavy.ttf);
}

@font-face {
  font-family: "Futura medium";
  src: url(./futuramedium.ttf);
}

@font-face {
  font-family: "Futura light";
  src: url(./futuralight.ttf);
}

@font-face {
  font-family: "Futura extrabold";
  src: url(./futuraxtrabold.ttf);
}

@font-face {
  font-family: "Fira code regular";
  src: url(./FiraCode-Regular.ttf);
}

@font-face {
  font-family: "Fira code medium";
  src: url(./FiraCode-Medium.ttf);
}

@font-face {
  font-family: "Fira code semibold";
  src: url(./FiraCode-SemiBold.ttf);
}

@font-face {
  font-family: "Fira code bold";
  src: url(./FiraCode-Bold.ttf);
}
