.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 35px;
  z-index: 4;
  backdrop-filter: blur(4px);
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header__icon__container {
  width: 40px;
  height: 40px;
}

.headerTelegramIconContainer {
  width: 35px;
  height: 35px;
}

.header__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  z-index: 4;
}

.header__menu__upper,
.header__menu__lower {
  position: absolute;
  content: "";
  left: 10px;
  width: 30px;
  height: 2px;
  background: var(--primary);

  transition: 0.2s;
}
.header__menu__upper {
  top: 13px;
}

.header__menu__lower {
  bottom: 13px;
}

.upperRotation {
  transform: translateY(5.5px) rotate(45deg);
}
.lowerRotation {
  transform: translateY(-5.5px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .header {
    backdrop-filter: blur(5px);
  }
  .header__title {
    font-size: 22px;
  }
}
