.detailedInfo {
  display: flex;
  width: 70%;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailedInfo__header {
  display: flex;
  gap: 80px;
  height: 100px;
}

.detailedInfo__header__link {
  text-decoration: none;
  font-size: 32px;
  color: var(--primary);
}

.detailedInfo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 32px;
  text-align: center;
}

.detailedInfo__button {
  width: 50px;
  height: 50px;
  color: var(--primary);
}
